<!--Section: call to action-->
<div class="streak streak-md streak-photo" style="background-image:url('https://mhhoyt.files.wordpress.com/2015/11/question-mark.jpg')">
    <div class="flex-center rgba-black-light pattern-1">
        <div class="text-center">
            <div class="white-text smooth-scroll mx-4">
                <h2 class="h2-responsive mb-5 wow fadeIn">You need any help?<br>or<br>Just have a question?</h2>
                <h2 class="h2-responsive mb-5 wow fadeIn">I am available here, don't hesitate.</h2>
                <div class="text-center">
                    <a href="#contact" class="btn btn-outline-white wow fadeIn  waves-effect waves-light"
                       data-offset="100" data-wow-delay="0.2s">Contact me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Section: call to action-->
<!--Section: contact-->
<section id="contact" class="py-5 wow fadeIn" style="background-color: #eee;">
    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact me</h2>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">I will try my best to replay as fast as I can.</p>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-9 mb-md-0 mb-5">
                <form action="/contact" method="post" id="contact">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="contact-name" name="name" class="form-control">
                                <label for="contact-name" class="">Your name</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="contact-email" name="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <label for="contact-email" class="">Your email</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="contact-Subject" name="subject" class="form-control">
                                <label for="contact-Subject" class="">Subject</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <div class="md-form">
                                <textarea type="text" id="contact-message" name="message" class="form-control md-textarea" rows="3"></textarea>
                                <label for="contact-message">Your message</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <div class="text-center text-md-left">
                        <input class="btn btn-purple btn-md waves-effect waves-light" type="submit"
                                 onclick="validateContactForm();" value="SEND">
                    </div>
                </form>
            </div>
            <!-- Grid column -->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fa fa-map-marker fa-2x purple-text"></i>
                        <p>Holon, Israel</p>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-2x mt-4 purple-text"></i>
                        <p class="mb-0">liron.revah.contact@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
<!--Section: contact-->