<!--Section: about-->
<section id="bio" class="py-5 wow fadeIn">
    <!-- Container -->
    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center mb-5">About me</h2>
        <!-- Section description -->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">
            <b>Currently open for full time hiring or projects.</b><br><br>
            I am full stack programmer on variety of things.
            <br>Mostly my focus is on web, mobile apps and machine learning development.
            <br>Worked with Python, NodeJS, HTML, CSS, JS, EJS, jQuery, C, C++, Java, NLP, Selenium, Bootstarp, MonogoDB,
            SQLite, Android, ELK, MatLab, Git, AWS, Multithreading and more...
            <br>I'm very organized person in my personal life and work, always keep learning, helping others, share my
            knowledge and trying to keep a good atmosphere in team environment.
            <br>B.Sc in Computer Science from HIT.
            <br>Check out my projects in the section below.
        </p>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5 text-center text-lg-left">
                <img class="img-fluid" src="../../media/screens-section.jpg" loading="lazy" alt="Sample image">
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Grid row -->
                <div class="row mb-3">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Design & Technology</h5>
                        <p class="grey-text">I am constantly continuing to learn and experiment with all the
                            existing technologies in order to produce the best projects that can be done.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!-- Grid row -->
                <div class="row mb-3">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Communication</h5>
                        <p class="grey-text">One of the important things if not the biggest thing that a programmer
                            need to have is communication and I always looking to share my progress and knowledge.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-1">
                        <i class="fa fa-mail-forward fa-lg purple-text"></i>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Soft Skills</h5>
                        <p class="grey-text mb-0">Availability, Flexibility, Positivity, Teamwork, Self management,
                            Adaptability, Motivated, Work ethic and Quick learner are my bread and butter.</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </div>
            <!--Grid column-->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Container -->
</section>
<!--Section: about-->