<!--Section: testimonials-->
<section id="testimonials" class="text-center py-5 wow fadeIn" style="background-color: #eee;">
    <!-- Container -->
    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold mb-5">Testimonials</h2>
        <p class="grey-text w-responsive mx-auto mb-5">This is what people I worked for think of me, you can be the
            next one to add your opinion.</p>
        <!-- Carousel Wrapper -->
        <div id="testimonials-carousel" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto mb-4">
                            <img src="../../media/woman.png" loading="lazy" class="rounded-circle img-fluid" alt="First sample avatar image">
                        </div>
                        <!--Content-->
                        <p>
                            <i class="fa fa-quote-left"></i> Your opinion on my work for you.
                        </p>
                        <h4 class="font-weight-bold">Your Name</h4>
                        <h6 class="font-weight-bold my-3">Company Name or Job Title</h6>
                        <!--Review-->
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star-half-full amber-text"> </i>
                    </div>
                </div>
                <!--First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto mb-4">
                            <img src="../../media/man.webp" loading="lazy" class="rounded-circle img-fluid" alt="Second sample avatar image">
                        </div>
                        <!--Content-->
                        <p>
                            <i class="fa fa-quote-left"></i> Your opinion on my work for you. </p>
                        <h4 class="font-weight-bold">Your Name 2#</h4>
                        <h6 class="font-weight-bold my-3">Company Name or Job Title</h6>
                        <!--Review-->
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                        <i class="fa fa-star amber-text"> </i>
                    </div>
                </div>
                <!--Second slide-->
            </div>
            <!--Slides-->
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
            </ol>
            <!--/.Indicators-->
            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating waves-effect waves-light" href="#testimonials-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                <a class="btn-floating waves-effect waves-light" href="#testimonials-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->
        </div>
        <!-- Carousel Wrapper -->
    </div>
    <!-- Container -->
</section>
<!--Section: testimonials-->