
<!--Main layout-->
<main>
    <!--Section: about-->
    <section id="about" class="py-5 wow fadeIn">
        <!-- Container -->
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center mb-5">About me</h2>
            <!-- Section description -->
            <p class="lead grey-text text-center w-responsive mx-auto mb-5">
                I am full stack programmer on variety of things.
                <br>Mostly focus on web, mobile apps and machine learning developing.
                <br>Currently open for full time hiring or projects.
                <br>I am a B.Sc in Computer Science from HIT.
            </p>
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-5 text-center text-lg-left">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-7">
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <!-- Grid column -->
                        <div class="col-1">
                            <i class="fa fa-mail-forward fa-lg purple-text"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-xl-10 col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Design & Technology</h5>
                            <p class="grey-text">I am constantly continuing to learn and experiment with all the
                                existing technologies in order to produce the best projects that can be done.</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <!-- Grid column -->
                        <div class="col-1">
                            <i class="fa fa-mail-forward fa-lg purple-text"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-xl-10 col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Communication</h5>
                            <p class="grey-text">One of the important things if not the biggest thing that a programmer
                                need to have is communication and I always looking to share my progress and knowledge.</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-1">
                            <i class="fa fa-mail-forward fa-lg purple-text"></i>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-xl-10 col-md-11 col-10">
                            <h5 class="font-weight-bold mb-3">Soft Skills</h5>
                            <p class="grey-text mb-0">Availability, Flexibility, Positivity, Teamwork, Self management,
                                Adaptability, Motivated, Work ethic and Quick learner are my bread and butter.</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!--Grid row-->
                </div>
                <!--Grid column-->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Container -->
    </section>
    <!--Section: about-->
    <!--Section: projects-->
    <section id="projects" class="text-center py-5 wow fadeIn" style="background-color: #eee;">
        <!-- Container -->
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold mb-5">My Projects</h2>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5">This is some of my projects, I hope you will like them.</p>
            <!-- Grid row -->
            <div class="row text-center">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://static.techspot.com/images2/news/bigimage/2019/06/2019-06-17-image-8.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Games Voice Assistant</h4>
                        <p class="grey-text">Game voice assistant that can help the players play a game without hands
                            using voice only. Focus on helping people with disabilities.</p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"
                           href="https://github.com/liron7722/GamesVoiceAssistant"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://i.ndtvimg.com/i/2016-06/court-generic_650x400_71465821031.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Accessible Court Data</h4>
                        <p class="grey-text">Making the data more accessible and easier to visualize to get sense of the data.
                            Using scraping, parsing and ELK with hebrew morphology to get the best results.</p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"
                           href="https://github.com/liron7722/AccessibleCourtData"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://www.one-resource.com/wp-content/uploads/2016/07/How-to-manage-your-expenses.png" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Cost Manager Android App</h4>
                        <p class="grey-text">Manage your transaction better, visualize incomes vs expenses.
                            Hybrid app using MVVM design pattern with Java and jQueryMobile. </p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"
                           href="https://github.com/liron7722/CostManager"><i class="fa fa-clone left"></i> View project</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Container -->
    </section>
    <!--Section: projects-->
    <!--Section: gallery-->
    <section id="upcoming" class="text-center py-5 wow fadeIn">
        <!-- Container -->
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold mb-5">Upcoming Projects</h2>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5">Projects I am currently working on.</p>
            <!-- Grid row -->
            <div class="row text-center">
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://lh4.googleusercontent.com/proxy/dh0Lrfn-89H62SIeipJf-qmnhKJYr95EewqRTfOiL_mzRNOHHknjDOmGay5Wq94eBSPi1yN7yKjY3H3Z67F_n3UBDBpIXYIAock1Qoz-A-Bkz89oMajym3-URWS2u1HYMJC67LtNcGDiEeHLwMU9cgSrETCdUgG_PVVJDpL_Ge5v" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">ML Predicting Sports Result</h4>
                        <p class="grey-text">Creating variety of Machine Learning algorithms to predict all kind of
                            results in major sports like football, basketball, soccer and more.</p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"><i class="fa fa-clone left"></i> Coming soon...</a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://www.kumulos.com/wp-content/uploads/2016/05/21954543_l.jpg" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Website and Mobile App for ML project</h4>
                        <p class="grey-text">I always loved to share my knowledge and information with others.
                            So I want to make sure everyone can see the results of my projects.</p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"
                           href="https://github.com/liron7722/AccessibleCourtData"><i class="fa fa-clone left"></i> Coming soon...</a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6">
                    <!--Featured image-->
                    <div class="view overlay rounded z-depth-1">
                        <img src="https://miro.medium.com/max/730/1*RKNwkQTRa85KcqN1ux_x3g.png" class="img-fluid" alt="Sample project image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--Excerpt-->
                    <div class="card-body pb-0">
                        <h4 class="font-weight-bold my-3">Building Flutter\Dart App for random company</h4>
                        <p class="grey-text">There are a lot of companies out there without website or app.
                            Let's make them a good one.</p>
                        <a class="btn btn-purple btn-sm waves-effect waves-light"
                           href="https://github.com/liron7722/CostManager"><i class="fa fa-clone left"></i> Coming Soon...</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Container -->
    </section>
    <!--Section: gallery-->
    <!--Section: testimonials-->
    <section id="testimonials" class="text-center py-5 wow fadeIn" style="background-color: #eee;">
        <!-- Container -->
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold mb-5">Testimonials</h2>
            <p class="grey-text w-responsive mx-auto mb-5">This is what people I worked for think of me, you can be the
                next one to add your opinion.</p>
            <!-- Carousel Wrapper -->
            <div id="testimonials-carousel" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfgokcRAUGyI5NdTUtVRtTm8ifgp2OrGNkVQ&usqp=CAU" class="rounded-circle img-fluid" alt="First sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Your opinion on my work for you.
                            </p>
                            <h4 class="font-weight-bold">Your Name</h4>
                            <h6 class="font-weight-bold my-3">Company Name or Job Title</h6>
                            <!--Review-->
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star-half-full amber-text"> </i>
                        </div>
                    </div>
                    <!--First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="testimonial">
                            <!--Avatar-->
                            <div class="avatar mx-auto mb-4">
                                <img src="https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png" class="rounded-circle img-fluid" alt="Second sample avatar image">
                            </div>
                            <!--Content-->
                            <p>
                                <i class="fa fa-quote-left"></i> Your opinion on my work for you. </p>
                            <h4 class="font-weight-bold">Your Name 2#</h4>
                            <h6 class="font-weight-bold my-3">Company Name or Job Title</h6>
                            <!--Review-->
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                            <i class="fa fa-star amber-text"> </i>
                        </div>
                    </div>
                    <!--Second slide-->
                </div>
                <!--Slides-->
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators-->
                <!--Controls-->
                <div class="controls-top">
                    <a class="btn-floating waves-effect waves-light" href="#testimonials-carousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating waves-effect waves-light" href="#testimonials-carousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
            </div>
            <!-- Carousel Wrapper -->
        </div>
        <!-- Container -->
    </section>
    <!--Section: testimonials-->
    <!--Section: call to action-->
    <div class="streak streak-md streak-photo" style="background-image:url('https://mhhoyt.files.wordpress.com/2015/11/question-mark.jpg')">
        <div class="flex-center rgba-black-light pattern-1">
            <div class="text-center">
                <div class="white-text smooth-scroll mx-4">
                    <h2 class="h2-responsive mb-5 wow fadeIn">You need any help?<br>or<br>Just have a question?</h2>
                    <h2 class="h2-responsive mb-5 wow fadeIn">I am available here, don't hesitate.</h2>
                    <div class="text-center">
                        <a href="#contact" class="btn btn-outline-white wow fadeIn  waves-effect waves-light"
                           data-offset="100" data-wow-delay="0.2s">Contact me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section: call to action-->
    <!--Section: contact-->
    <section id="contact" class="py-5 wow fadeIn" style="background-color: #eee;">
        <div class="container">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center mb-5">Contact me</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">I will try my best to replay as fast as I can.</p>
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form>
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-name" class="form-control">
                                    <label for="contact-name" class="">Your name</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-email" class="form-control">
                                    <label for="contact-email" class="">Your email</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="contact-Subject" class="form-control">
                                    <label for="contact-Subject" class="">Subject</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="contact-message">Your message</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                    </form>
                    <div class="text-center text-md-left">
                        <a class="btn btn-purple btn-md waves-effect waves-light">Send</a>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fa fa-map-marker fa-2x purple-text"></i>
                            <p>Holon, Israel</p>
                        </li>
                        <!--
                        <li>
                            <i class="fa fa-phone fa-2x mt-4 purple-text"></i>
                            <p>+ 972 54 6566 728</p>
                        </li>
                        -->
                        <li>
                            <i class="fa fa-envelope fa-2x mt-4 purple-text"></i>
                            <p class="mb-0">support@lironrevah.com</p>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!--Section: contact-->
</main>
<!--Main layout-->