
<!-- Footer -->
<footer class="page-footer font-small pt-4">
    <!-- Footer Elements -->
    <%if (name != 'Home') { %>
    <div class="container">
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1 waves-effect waves-light" href="https://twitter.com/liron_revah">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 waves-effect waves-light" href="https://www.linkedin.com/in/liron-revah-0b2553194/">
                    <i class="fab fa-linkedin"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 waves-effect waves-light" href="https://github.com/liron7722">
                    <i class="fab fa-github"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 waves-effect waves-light" href="https://www.paypal.com/donate?hosted_button_id=QH6QEC7S6PWLW">
                    <i class="fab fa-paypal"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
    </div>
    <% } %>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright -
        <a href="http://lironrevah.tech/"> www.LironRevah.tech</a>
    </div>
    <!-- Copyright -->
</footer>

    <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/popper.min.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/bundles/4.19.1/compiled-addons.min.js"></script>
    <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
    <script type="text/javascript" src="../js/email.js"></script>
</body>

</html>