/* Required for full background image */
#intro-section  {
    background-image: url('../media/wallpaper.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*
@media all and (orientation:portrait) {
    html,
    body,
    header,
    #intro-section {
        height: 80%;
    }
    #intro-section {
        background-size: 100% 50%;
    }
}*/
@media all /*and (orientation:landscape)*/ {
    html,
    body,
    header,
    #intro-section {
        height: 100%;
    }
    #intro-section {
        background-size: 100% 100%;
    }
}